version: 0.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master

os: Windows Server 2012 R2

# Custom clone folder (variables are not expanded here).
clone_folder: c:\gopath\src\github.com\influxdata\influxdb

# Environment variables
environment:
  GOROOT: C:\go14
  GOPATH: c:\gopath

# Scripts that run after cloning repository
install:
 - set PATH=%GOROOT%\bin;%GOPATH%\bin;%PATH%
 - echo %PATH%
 - echo %GOPATH%
 - cd c:\gopath\src\github.com\influxdata\influxdb
 - go version
 - go env
 #- go get github.com/sparrc/gdm

# To run your custom scripts instead of automatic MSBuild 
build_script:
 - go get -t -v ./...
  
# To run your custom scripts instead of automatic tests
#test_script:
 - go test -race -v ./...
 
# To disable deployment
deploy: off